* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #7a617f;} 

.card {width: 300px; height: 220px; border-radius: 5px;position: relative; overflow: hidden;}
.card1 { background: linear-gradient(to right, #ecc4aa, #dc7c98); }   
.card2 { background: linear-gradient(to right, #90c8f7, #2c8fe1); }
.card3 { background: linear-gradient(to right, #b3edf0, #3eb1a4); }    

.circle1 {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: rgb(255,255,255, 0.2);
    position: absolute;
    margin-top: 120px;
    margin-left: 120px;}
.circle2 {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: rgb(255,255,255, 0.2);
    position: absolute;
    margin-top: -34px;
    margin-left: 195px;}

.info { color: white; font-family: Arial, Helvetica, sans-serif; margin-left: 40px;}
.info :nth-child(1) { font-size: 14px; position: absolute; margin-top: 40px;}
.info :nth-child(2) { font-size: 22px; position: absolute; margin-top: 80px;}
.info :nth-child(3) { font-size: 12px; position: absolute; margin-top: 160px;}

li { 
    display: inline-block; 
    margin-left: 40px;
    margin-top: 20px;}
.mark {
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: 240px;
    margin-top: 45px;}
.mark11 {
    width: 23px; height: 18px;
    border: 2px solid white;
    border-top: none; border-right: none;
    position: relative;
    overflow: hidden;}
.mark12 {
    width: 8px;
    height: 13px;
    border: 2px solid white;
    border-right: none; border-bottom: none;
    position: absolute;
    margin-top: 3px;
    margin-left: -1px;
    transform:rotate(30deg);
    transform-origin: bottom left;}
.mark13 {
    width: 8px;
    height: 10px;
    border: 2px solid white;
    border-top: none; border-left: none; border-bottom: none;
    position: absolute;
    margin-top: -5px;
    margin-left: 6px;
    transform:rotate(45deg);
    transform-origin: bottom left;}
.mark21 {
    width: 15px;
    height: 20px;
    border: 2px solid white;
    border-bottom: none;
    position: relative;}
.mark22 {
    width: 10.5px;
    height: 10.5px;
    border: 2px solid white;
    border-bottom: none; border-right: none;
    position: absolute;
    margin-top: 6.35px;
    margin-left: -2px;
    transform:rotate(45deg);
    transform-origin: bottom left;}
.mark31 {
    width: 12px;
    height: 10px;
    border: 2px solid white;
    border-left: none; border-right: none; border-bottom: none;
    position: absolute;
    margin-left: 7px;}
.mark32 {
    width: 8px;
    height: 18px;
    border: 2px solid white;
    border-right: none; border-bottom: none;
    position: absolute;
    margin-left: 10.5px;
    margin-top: -4px;
    transform:rotate(-40deg);
    transform-origin: bottom right;}
.mark33 {
    width: 8px;
    height: 18px;
    border: 2px solid white;
    border-left: none; border-bottom: none;
    position: absolute;
    margin-left: 5.5px;
    margin-top: 1px;
    transform:rotate(40deg);
    transform-origin: bottom right;}